.purchase-medication-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .purchase-medication-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #c3ff00;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  .purch{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }